/* COLORS */
/* CITRUS YELLOW */
/* PANTONE 14-0955 TPX */
/* RGB 255-176-37 */
/* Lollipop Red */
/* PANTONE 18-1764 TCX */
/* RGB 204-28-59 */
:root{
    --citrus-mutton : #FFB025;
    --lollipop-beef : #CC1C3B;
    --background-color: linear-gradient(to right, black 0%,black 50%,#000000 70%,var(--main-red-color) 30%, var(--main-red-color) 100%); /* W3C */
}

/* Sidebar */
.vertical-menu {
    width: 100%; /* Set a width if you like */
    padding: 0px;
    margin:0px;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

.show{
    background-repeat: no-repeat;
}
.show::after{
    content:'';
    height:24px;
    width:24px;
    position:absolute;
    background: url(../images/show.png);
    display: block;
}
.hide{
    display:relative
}
.hide::after{
    content:'';
    height:24px;
    width:24px;
    position:absolute;
    background: url(../images/hide.png);
    display: block;
}

.hidden-tr{
    display:none;
}
