.hero {
    background-image: url("../images/bg-2.jpg");
    background-repeat: no-repeat;
    background-color:white;
}

.about-product li::before {
    content: url("../images/16px-red-checkmark.png");
    padding-right:10px;
}
/* 
.heading-all::before{
    content:url("../images/3dots.png")
    color:white;
    background:#dc3545;
} */
