/* The Main colors */
:root{
    /* Netflix colors */
    --main-red-color:#E50914;
    --main-black-color:#221F1F;
    --main-light-gray-color:#F5F5F1;
    /* IKEA BLUE YELLOW */
    --main-blue-color:#003399;
    --main-yellow-color: #FFCC00;
    --background-color: linear-gradient(to right, black 0%,black 50%,#000000 70%,var(--main-red-color) 30%, var(--main-red-color) 100%); /* W3C */
} 
/* Import Google Fonts Here */
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Anton|Comfortaa|Dorsa|Meera+Inimai|Oswald|Oxygen|Palanquin|Palanquin+Dark|Six+Caps');

* {
    padding:0px;
    margin:0px;
}

/** Apply font family here **/
html,h1,h2,h3,h4,h5,h6,a,p{
    /* font-family: "Raleway"; */
    font-family: "ProximaNovaBold","Helvetica Neue",Helvetica, Arial, sans-serif;
}

body{
    /* Our Main Color */
    background-color: var(--main-light-gray-color);   
    

    font-family: 'Anton', sans-serif;

    font-family: 'Six Caps', sans-serif;

    font-family: 'Oswald', sans-serif;

    font-family: 'Dorsa', sans-serif;

    font-family: 'Palanquin', sans-serif;

    font-family: 'Palanquin Dark', sans-serif;

    font-family: 'Oxygen', sans-serif;

    font-family: 'Meera Inimai', sans-serif;

    font-family: 'Comfortaa', cursive;


}

/* Header */
.header{
    background: var(--background-color);
    /* height:100vh; */
}
/* Make the left column 70% */
.col-left{
    width:70vw;
}
/* Make the right column 30% */
.col-right{
    width:30vw;
}

.header img{
    position: absolute;
    left:25%;
    top:25%;
    vertical-align: middle;
}
/* Header */

/* Footer */
footer {
    height: 50px;
    text-align: center;
    padding-top:10px;
    color:white;
    background: var(--background-color);
}
/* Footer */

/* Tool tip  */
a.tip {
    text-decoration: none
}
a.tip:hover {
    /* cursor: help; */
    position: relative
}
a.tip span {
    display: none 
}
a.tip:hover span {
    border: gray 1px solid;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    /* background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%; */
    background-color: rgb(41, 41, 41);
    left: 0px;
    margin:2px;
    width: 100px;
    position: absolute;
    text-align: center;
    color:white;
    font-size:75%;
    top: 20px;
    text-decoration: none
}

/* Contact */
.contactus {
    color:white;
    position:absolute;
    padding:2em;
}
.contactus a {
    color:white;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}
.contactus a:hover{
    color:var(--main-red-color);
}
/* Contact */


/* Contact Form */
.contact-form{
    margin: 6em 0;
    position: relative;  
}
.contact-form h1{
padding:2em 1px;
color: var(--main-red-color);
}
.contact-form .right{
max-width: 600px;
}
.contact-form .right .btn-secondary{
background: var(--main-red-color);
color: #fff;
border:0;
}
.contact-form .right .form-control::placeholder{
color: #888;
font-size: 16px;
}
/* Contact Form */

