
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,900");
@import url('https://fonts.googleapis.com/css?family=Six+Caps');
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

$background-color: linear-gradient(to right, black 0%,black 50%,#000000 70%,var(--main-red-color) 30%, var(--main-red-color) 100%); /* W3C */
$smallscreensize:25rem; //Change this to effect it every where
$rnc-red:#dc3545;
/** Headings */
//$font-size-base:1rem !default; // Assumes the browser default, typically `16px`
//h1 * font-size-base * 2.5
body{
    background-color:white;
}

html{
    font-family: 'Six Caps', sans-serif;
    background-color:white;
}

// The Footer
footer {
    padding:35px 20px;
    line-height: 0px;
    background-color:black;
    color:white;
}

// For Terms & Privacy Policy 
.terms, .privacy {
    margin:20px 10px;
    padding-left:10px;
    padding-right:10px;
    font-size:.95rem;
    p{
        margin:5px 10px;
    }
}
// Footer UL LI
.quicklinks{

    ul{
        list-style: none;
        font-size:1.05rem;
        margin-top:15px;

        li {
            border-top:1px solid gray;
        }
    }
}

.heading-all{
    font-family: 'Oxygen', sans-serif;
    font-weight: 900;
    padding:5px;

    @media(max-width:$smallscreensize){
        font-weight:  600;
        font-size: 1rem * 1.55;
    }
}

.heading-block-transparent {
    font-family: 'Comfortaa', cursive;
    font-weight: 900;

    @media(max-width:$smallscreensize){
        font-weight: 600;
        font-size: 1rem * 1.75;
    }
}

.subheading {
    font-size: 1rem * 1.75;
    font-weight: 400;

    @media (max-width:$smallscreensize){
        font-weight: 400;
        font-size: 1rem * 1.15;
    }
}

.make-me-block{
    @media (max-width:$smallscreensize){
       width:100%;
       display: block;
       margin:0;
    }
}

.nav {
    .nav-link{
        text-transform: uppercase;
        font-weight: 600;
        color:#fff;
    }
}
/* Make Navbar bootstrap 4.0 transparent */
.navbar {
    width:100%;
    background: none !important;

    @media(max-width:$smallscreensize){
        background:rgba(0,0,0,.5) !important;
    }
    .navbar-brand{
        @media(max-width:$smallscreensize){
           float:left;
        }
    }
    .navbar-toggler {
        cursor:pointer;
        outline:0;
        color:#fff;
    }

    .nav-link{
        text-transform: uppercase;
        font-weight: 600;
        color:#fff;
    }

    .nav-item {
        padding: 0 1rem;

        @media(max-width:32px){
            padding:0;
        }
        .nav-link {
            @media(max-width:$smallscreensize){
                font-weight:normal;
                color:#fff !important;
                // background: #000000;
                text-align: left;
            }

        }

    }
}

.block-transparent{
    padding:35px 20px;
    color:white;
    font-weight: 900;
    /* border: 1px solid; */
}

.block-white {
    padding:20px 20px;
    background-color: white;
}

.block-black {
    padding:20px 20px;
    background:black;
    color:white;
}
/* For Google Map */
.map-white {
    padding:20px 20px;
    height:500px;
    background-color: white;
}
/* For Google Map */
#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}

// Vertical Divider for Login Modal
.vertical-divider {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    width: auto;
    height: 50%;
    line-height: 0;
    text-align:center;
    text-transform: uppercase;
    transform: translateX(-50%);
  }
  .vertical-divider:before, 
  .vertical-divider:after {
    position: absolute;
    left: 50%;
    content: '';
    z-index: 9;
    border-left: 1px solid rgba(34,36,38,.15);
    border-right: 1px solid rgba(255,255,255,.1);
    width: 0;
    height: calc(100% - 1rem);
  }
  .row-divided > .vertical-divider {
    height: calc(50% - 1rem);    
  }
  .vertical-divider:before {
    top: -100%;
  }
  .vertical-divider:after {
    top: auto;
    bottom: 0;
  }
  .row-divided {
    position:relative;
  }
  .row-divided > [class^="col-"],
  .row-divided > [class*=" col-"] {
    padding-left: 30px;  /* gutter width (give a little extra room) 2x default */
    padding-right: 30px; /* gutter width (give a little extra room) 2x default */
  }
   
  /* just to set different column heights - not needed to function */          
  .column-one {
    height: 300px; 
    background-color: #EBFFF9;
  }
  .column-two {
    height: 400px;
    background-color: #F7F3FF;
  }

//   Color Social Media Icons
.fa-facebook-square:hover , .fa-twitter-square:hover , .fa-pinterest-square:hover , .fa-google-plus-square:hover {
color:$rnc-red;
}

.nav-tabs {
    font-weight: 600;
}

.nav-tabs .nav-link.active, {
    color: #fff !important;
    background-color: $rnc-red !important;
    border-color: #dee2e6 #dee2e6 #f5f8fa;
}

.nav-tabs .nav-link {
    text-transform: uppercase;
    font-weight: 300;
    color: $rnc-red;
}


.about-product ul{
    list-style: none;
    padding:0;
    margin:20px 0;
    font-size:1.25rem;
}

.about-product li {
    // border-top:1px solid rgba(107, 105, 105,.25);
    padding:20px 0;
}

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';