/* COLORS */
/* CITRUS YELLOW */
/* PANTONE 14-0955 TPX */
/* RGB 255-176-37 */
/* Lollipop Red */
/* PANTONE 18-1764 TCX */
/* RGB 204-28-59 */
:root{
    --citrus-mutton : #FFB025;
    --lollipop-beef : #CC1C3B;
    --background-color: linear-gradient(to right, black 0%,black 50%,#000000 70%,var(--main-red-color) 30%, var(--main-red-color) 100%); /* W3C */
}
/* set the main font family */
html,h1,h2,h3,h4,h5,h6 {
    font-family: 'Oxygen', sans-serif;
}

myfonts {
    font-family: 'Anton', sans-serif;
    font-family: 'Six Caps', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Dorsa', sans-serif;
    font-family: 'Palanquin', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Meera Inimai', sans-serif;
    font-family: 'Comfortaa', cursive;
}
/* Sidebar */
.vertical-menu {
    width: 100%; /* Set a width if you like */
    padding: 0px;
    margin:0px;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}
